<?xml version="1.0" encoding="UTF-8" ?>
<suite name="default-test">
    <test name="MyTest">
        <classes>
            <class name="test.TC1LoginTest"/>
            <class name="test.TC2CreateAccountTest"/>
            <class name="test.TC3AccountsSectionTest"/>
        </classes>
    </test>
</suite>